.button_component {
display: flex;
align-items: center;
justify-content: center;
outline : none;
border : none;
height: 70px;
width: 100%;
background-color: rgb(52, 52, 201);
color: white;
font-size: 20px;
width: bold;
cursor: pointer;
}