.user_card_components {
  display: flex;
 flex-direction: column;
  gap: 15px;
  width: 340px;
  max-height: fit-content;
  border: 2px solid rgb(25, 16, 78);
  padding: 40px;
  margin: 30px;
  border-radius: 8px;
  background-color: aqua;

 
}
.card_title {
  font-size: 30px;
  color: rgb(18, 109, 162);
  font-weight: bold;
}
.card_name {
  font-size: 30px;
  color: rgb(234, 124, 159);
  font-weight: bold;
}
.avatar {
  width: 150px;
  height: 150px;
  align-self: center;
}
.card_info {
  font-size: 24px;
  color: black;
}
