.info_title {
  color: black;
  font-weight: bold;
  font-size: 24px ;
}
.user_card_components {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width:400px;
  min-height: 300px;
  max-height: fit-content;
  border: 2px solid rgb(25, 16, 78);
  padding: 30px;
  border-radius: 6px;
  background-color: rgb(167, 243, 243);




 
}
.card_title {
  font-size: 30px;
  color: rgb(18, 109, 162);
  font-weight: bold;
}
.card_name {
  font-size: 28px;
  color: rgb(234, 124, 159);
  font-weight: bold;
}
.avatar {
  width: 150px;
  height: 150px;
  align-self: center;
}
.card_info {
  font-size: 24px;
  color: black;
}
